body{
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  margin:0;
  width: 1440px;
}
    
  h2{
    
  font-weight: 700;
  color: hsl(179, 62%, 43%);

  }
  h3{
    
  font-weight: 700;
  color: hsl(71, 73%, 54%);

  }
  .p1 {
    color: hsl(218, 22%, 67%);
    line-height: 1.5;
    }
.p2{
  color: hsl(218, 22%, 67%);
  line-height: 0;
}

.p3 {
 line-height: 0;
}
  .top-container {
   margin: 20px;
    margin-top: 50px;
   
    margin-bottom: 50px;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  .left-container {
    background-color: #2bb3b1;
    width: 400px;
    height:400px;
    color: hsl(204, 43%, 93%);
     padding:20px;
         }
.per-month {
  font-size: 16px;
    color: hsl(204, 43%, 93%);
}
    
